body {
  font-family: sans-serif;
  font-size: 12px;
}

@media (min-width: 480px) {
  body { font-size: 14px; }
}

@media (min-width: 900px) {
  body { font-size: 16px; }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 3em;
  text-align: center;
}

td, th {
  text-align: left;
  padding: 3em 1em;
  border-top: 1px solid silver;
  max-width: 50%;
}

.css-manipulate .kool-aid {
  color: green;
}

.test-table {
  margin: 2em auto;
}

.test-table th,
.test-table td {
  padding: .5em;
}

.test-table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.passed {
  text-transform: uppercase;
  font-weight: bold;
  color: green;
}

.failed {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

/**
 * SVG Background-image tests
 */

.svg-bg {
  background-color: yellow;
  height: 400px;
  width: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/kool-aid-man.svg");
  background-size: contain;
  background-position: center;
}

.svg-bg.fallback--gradient {
  background-image: url("../img/kool-aid-man.png");
  background-image:
    linear-gradient(transparent, transparent),
    url("../img/kool-aid-man.svg");
}

.no-svg .svg-bg.fallback--modernizr {
  background-image: url("../img/kool-aid-man.png");
  background-image:
    linear-gradient(transparent, transparent),
    url("../img/kool-aid-man.svg");
}
