body {
  font-family: sans-serif;
  font-size: 12px;
}

@media (min-width: 480px) {
  body { font-size: 14px; }
}

@media (min-width: 900px) {
  body { font-size: 16px; }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 3em;
  text-align: center;
}

td, th {
  text-align: left;
  padding: 3em 1em;
  border-top: 1px solid silver;
  max-width: 50%;
}

.css-manipulate .kool-aid {
  color: green;
}
